[Unit]
Description=Start TFL Arrival Board Client

[Service]
ExecStart=bash /home/canhho/www/tfl-arrival-board/start_browser.sh
WorkingDirectory=/home/canhho/www/tfl-arrival-board
Restart=always
RestartSec=5  # Add this line to specify the restart delay
User=canhho

[Install]
WantedBy=multi-user.target
