# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/nextjs/node_modules
/nextjs/.pnp
/nextjs.pnp.*
/nextjs.yarn/*
/nextjs!.yarn/patches
/nextjs!.yarn/plugins
/nextjs!.yarn/releases
/nextjs!.yarn/versions

# testing
/nextjs/coverage

# next.js
/nextjs/.next/
/nextjs/out/

# production
/nextjs/build

# misc
.DS_Store
*.pem

# debug
/nextjs/npm-debug.log*
/nextjs/yarn-debug.log*
/nextjs/yarn-error.log*
/nextjs/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
/nextjs/.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
/nextjs/*.tsbuildinfo

next-env.d.ts
/nextjs/next-env.d.ts

.history/

/python+jquery/.env
/python+jquery/.idea/
/python+jquery/.vscode/
/python+jquery/__pycache__/
/python+jquery/.tox/
/python+jquery/.coverage
/python+jquery/.coverage.*
/python+jquery/htmlcov/
/python+jquery/docs/_build/
/python+jquery/dist/
/python+jquery/venv/